


.container {

     display: flex; 
     flex-direction: row; 
     justify-content: left;
      align-items: center;
      /* margin-right: 200px; */
    
}

.container img{

    height:  170px;

    width:  170px;
}

.container div {

    width: 220px;

    margin-left: 30px;
}



.navbar{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


.navbar li{

  float: left;

}


.navbar li a {
  display: block;
  color: blueviolet;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  width: 50px;
}

#child2{

   margin-left: auto;
}

