


.container1{

    
  display: flex;     
  justify-content: center;      
  align-items: center;          
  width: 1000px;
  height: 50px;
  /* margin: auto;                   */
  margin-left: 50px;
}

.container1 ul li {

    margin-right: 5px;
    margin-left: 90px;
}

.container1 ul li a{

    width: 100px;
}

.c1hr{

    width: 890px;
    margin-left: 130px;
}


.navbar{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


.navbar li{

  float: left;

}


.navbar li a {
  display: block;
  color: blueviolet;
  text-align: center;
  padding: 10px 5px;
  text-decoration: underline;
  width: 50px;
}




.prd_nor{

color: blue;
margin-bottom: 30px;

}


.prd_low{

color: red;
margin-bottom: 30px;

}

a{

    width: 10px;
}




#father{

    margin-left: 140px;
    margin-top: 30px;
}

#father hr{

     width: 800px; 
     margin-left: -1px; 
     margin-top: 10px;
}

#father #secdiv{

    /* display: flex;

    flex-direction: column;

    justify-content: left;

    align-items: left; */

    margin-left: -28px;

    padding-left: 20px;
}

#secdiv p{

    color: black;
}

#secdiv button{

    width: 72px;
    height: 30px;
}


.container {

     display: flex; 
     flex-direction: row; 
     justify-content: left;
      align-items: center;
      margin-top: -10px;
      /* margin-right: 200px; */
    
}

.container img{

    height:  170px;

    width:  170px;
}

.container div {

    width: 220px;

    margin-left: 30px;
}


#father #revHr{
 
     transform: rotate(90deg);
    width: 160px;
    margin-left: 110px;
    margin-right: 0;
}

